.swiper-slide {
  /* Center slide text vertically */
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  max-height: 80vh;
  object-fit: contain;
}

.swiper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.mySwiper2 {
  width: 100%;
  height: auto;
}

.mySwiper {
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: auto;
  opacity: 0.4;
  cursor: pointer;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}
